<div class="box">
    <h2>Edit profile - {{userInfo.name}}</h2>
    <div><strong>Name: </strong>
        <input type="text"
               ng-model="userInfo.name" />
    </div>
    <div><strong>Email: </strong>
        <input type="email"
               ng-model="userInfo.email" />
    </div>
    <div><strong>Phone: </strong>
        <input type="text"
               ng-model="userInfo.phoneNumber" />
    </div>
    <div><strong>Town id: </strong>
        <select ng-model="userInfo.townId">
            <option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
        </select>
    </div>
    <div>
        <a class="button" ng-click="editUserProfile()">Edit profile</a>
    </div>
</div>