<div class="box">
    <h2>Edit profile - {{userInfo.name}}</h2>
    <div><strong>Name: </strong>{{userInfo.name}}
        <input type="text"
               ng-model="editedUserInfo.name" />
    </div>
    <div><strong>Email: </strong>{{userInfo.email}}
        <input type="email"
               ng-model="editedUserInfo.email" />
    </div>
    <div><strong>Phone: </strong>{{userInfo.phoneNumber}}
        <input type="text"
               ng-model="editedUserInfo.phoneNumber" />
    </div>
    <div><strong>Town id: </strong>{{userInfo.townId}}
        <input type="number"
               ng-model="editedUserInfo.townId" />
    </div>
    <div>
        <a class="button" ng-click="editUserProfile(editedUserInfo)">Edit profile</a>
    </div>
</div>