<!--<pagination total-items="data.numItems" ng-model="getUsersParams.startPage"-->
            <!--items-per-page="getUsersParams.pageSize" ng-change="reloadUsers()"-->
            <!--maxSize="9" boundary-links="true">-->
<!--</pagination>-->

<h2>Users</h2>
<table ng-table="tableParams" class="well table table-striped table-hover table-condensed table-bordered" ng-cloak>
    <tr ng-repeat="user in $data">
        <td data-title="'Username'" sortable="'username'">
            {{user.username}}
        </td>
        <td data-title="'Name'" sortable="'name'">
            {{user.name}}
        </td>
        <td data-title="'Email'" sortable="'email'">
            {{user.email}}
        </td>
        <td data-title="'PhoneNumber'" sortable="'phoneNumber'">
            {{user.phoneNumber}}
        </td>
        <td data-title="'Action'">
            <a href="#/admin/user-edit" ng-click="saveUserId(user.id)">Edit</a>
            <a href="#/admin/user-delete" ng-click="saveUserId(user.id)">Delete</a>
        </td>
    </tr>
</table>
<img class="loading-image" src="images/loading.gif" ng-hide="ready" />