<div class="col-md-6">
    <div class="box well-lg">
    <h2>Edit User Profile</h2>
    <hr/>

    <div class="form-group">
        <label for="username">Username:</label>
        <input ng-disabled="true" type="text" class="form-control" id="username" ng-model="user.userName" />
    </div>

    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" ng-model="user.name" />
    </div>

    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" id="email" ng-model="user.email" />
    </div>
    <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="text" class="form-control" id="phone" ng-model="user.phoneNumber" />
    </div>
    <div class="form-group">
        <label for="town">Town:</label>
        <select id="town" class="form-control" ng-model="user.townId">
            <option value="user.townId">{{user.town.name}}</option>
            <option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <input ng-model="user.isAdmin" class="checkbox-inline" type="checkbox" id="is-admin" />
        <label for="is-admin">Is Administrator</label>
    </div>
    <div>
        <a class="button" ng-click="editUser(user)">Edit</a>
        <a class="button" href="#/admin/users">Cancel</a>
    </div>

</div>
</div>

<div class="col-md-6">
    <div class="box well-lg">
        <h2>Change User Password</h2>
        <hr/>

        <div class="form-group">
            <label>Username:</label>
            <input ng-disabled="true" type="text" class="form-control" ng-model="user.userName" />
        </div>
        <div class="form-group">
            <label for="new-passwrod">New password:</label>
            <input type="password" class="form-control" id="new-passwrod" ng-model="pass.newPassword" />
        </div>
        <div class="form-group">
            <label for="confirm-new-password">Confirm new password</label>
            <input type="password" class="form-control" id="confirm-new-password" ng-model="pass.confirmPassword" />
        </div>
        <div class="form-group">
            <a class="button" ng-click="changePassword(pass)">Change password</a>
            <a class="button" href="#/admin/users">Cancel</a>
        </div>
    </div>
</div>