<img class="loading-image" src="images/loading.gif" ng-hide="ready" />

<div ng-show="ready">
    <pagination total-items="data.numItems" ng-model="adsParams.startPage"
                items-per-page="adsParams.pageSize" ng-change="reloadAds()"
                max-size="9" boundary-links="true">
    </pagination>

    <ul class="ads">
        <li ng-repeat="ad in data.ads" class="box">
            <div>
                <h1 class="div-inline">{{ad.title}}</h1>
                <time class="pull-right">{{ad.date | date: 'dd-MMM-yyyy'}}</time>
            </div>

            <div class="row">
                <div id="image-box" class="col-md-4">
                    <img ng-if="ad.imageDataUrl" class="ad-image" ng-src="{{ad.imageDataUrl}}" />
                    <img ng-if="!ad.imageDataUrl" class="ad-image" src="images/no-image.png" />
                </div>

                <div class="col-md-8">
                    <div class="box ad-details well-lg">{{ad.text}}</div>
                    <div class="box ad-details well-lg"><strong>Name:</strong><span class="pull-right">{{ad.ownerName}}</span></div>
                    <div class="box ad-details well-lg"><strong>Email:</strong><span class="pull-right">{{ad.ownerEmail}}</span></div>
                    <div class="box ad-details well-lg"><strong>Phone:</strong><span class="pull-right">{{ad.ownerPhone}}</span></div>
                </div>
            </div>

            <!--<h1>{{ad.title}}</h1>-->
            <!--<div><strong>Date:</strong> {{ad.date | date:'dd-MMM-yyyy'}}</div>-->
            <!--<div ng-if="ad.imageDataUrl">-->
                <!--<strong>Image:</strong>-->
                <!--<img class="ad-image" ng-src="{{ad.imageDataUrl}}" />-->
            <!--</div>-->
            <!--<div><strong>Text:</strong> {{ad.text}}</div>-->
            <!--<div><strong>Name:</strong> {{ad.ownerName}}</div>-->
            <!--<div><strong>Email:</strong> {{ad.ownerEmail}}</div>-->
            <!--<div><strong>Phone:</strong> {{ad.ownerPhone}}</div>-->
        </li>
    </ul>

    <div ng-if="data.ads.length==0" class="box no-data">
        No ads found.
    </div>

    <pagination total-items="data.numItems" ng-model="adsParams.startPage"
                items-per-page="adsParams.pageSize" ng-change="reloadAds()"
                max-size="9" boundary-links="true">
    </pagination>
</div>
