<div class="col-md-6">
    <div class="box">
        <h2>Login</h2>
        <div class="form-group">
            <label for="username">Username:</label>
            <input class="form-control" type="text" id="username" ng-model="userData.username" />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" type="password" id="password" ng-model="userData.password" />
        </div>
        <p>
            <a ng-click="login(userData)" class="button">Login</a>
            <a href="#/register" class="link">Register</a>
        </p>
    </div>
</div>